# Net Sec Watch staging environment
DEPLOYMENT_ENVIRONMENT=staging
OPENSEARCH_HTTP_BIND=127.0.0.1
OPENSEARCH_DASHBOARDS_BIND=127.0.0.1
SYSLOG_BIND=0.0.0.0
OPENSEARCH_JAVA_OPTS=-Xms1g -Xmx1g
FLUENT_BIT_HTTP_BIND=127.0.0.1
