# Net Sec Watch test environment
DEPLOYMENT_ENVIRONMENT=test
OPENSEARCH_HTTP_BIND=127.0.0.1
OPENSEARCH_DASHBOARDS_BIND=127.0.0.1
SYSLOG_BIND=127.0.0.1
OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m
FLUENT_BIT_HTTP_BIND=127.0.0.1
